<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
        }
        .day {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px;
            border: 1px solid black;
            width: 50px;
            height: 50px;
            text-align: center;
        }
        .highlight {
            background-color: red;
        }
    </style>
    <script>
        function highlight(event) {
            event.target.classList.toggle('highlight');
        }
    </script>
</head>
<body>
    <h3>Exercise</h3>
    <div class="container">
        {% for day in days %}
            <div class="day" onclick="highlight(event)">{{ day }}</div>
        {% endfor %}
    </div>
    <h3>Meditation</h3>
    <div class="container">
        {% for day in days %}
            <div class="day" onclick="highlight(event)">{{ day }}</div>
        {% endfor %}
    </div>
    <h3>Bass</h3>
    <div class="container">
        {% for day in days %}
            <div class="day" onclick="highlight(event)">{{ day }}</div>
        {% endfor %}
    </div>
    <script>
        document.querySelectorAll(".day").forEach(function (dayElement) {
        dayElement.addEventListener("click", function (event) {
            const day = event.target;
            const habit = day.parentElement.previousElementSibling.textContent;
            const date = day.textContent;
            const status = day.classList.toggle('highlight');

            const year = new Date().getFullYear();
            const month = new Date().getMonth() + 1;  // JavaScript months are 0-indexed.
            const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${date.padStart(2, '0')}`;

            fetch('/update-habit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    habit: habit,
                    status: status,
                    date: formattedDate  // Send the formatted date
                })
            });
        });
    });
    </script>
</body>
</html>
